@tailwind base;
@tailwind components;
@tailwind utilities;

.mamad{
    height: 87vh;
    background-color: rgb(85, 83, 83);
}
h1{
    font-size: 35px;
    font-weight: 900;
}
h2{
    font-size: 30px;
    font-weight: 800;
}
h3{
    font-size: 25px;
    font-weight: 700;
}

h4{
    font-size: 23px;
    font-weight: 600;
}


@media only screen and (max-width: 600px) {
  h1{
    font-size: 25px;
    font-weight: 800;
  }
  h2{
    font-size: 23px;
    font-weight: 700;
  }
  h3{
    font-size: 21px;
    font-weight: 600;
  }
  h4{
    font-size: 20px;
    font-weight: 500;
  }

  .mainH{
    text-align: center;
  }
}
    


.lesson{
    border: solid 1px #0284c7;
}
.pricingH{
    border: solid 1px #0284c7;
}
.contactUs{
    height: 100%;
    background-color: #2d414b;
}



/* demo */


.statement {
  background-color: rgba(255 255 0 / .5);
  border-radius: 5px;
  border: 1px solid silver;
  margin: 15px;
  padding: 5px;
}
.expr {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
}
.assignment {
  color: purple;
  background-color: rgba(255 0 255 / 0.3);
  border-radius: 3px;
  padding: 2px 5px;
  font-weight: bold;
}
.variable {
  color: blue;
  background-color: rgba(0 0 255 / 0.1);
  border-radius: 3px;
  padding: 2px 4px;
  font-weight: bold;
}
.new-obj {
  color: green;
}
.new-obj.arrow-function {
   
}
.function-arg {
  color: gray;
}
.literal {
  color: red;
}
